# Imports

In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import datetime
import pickle
import calendar
import seaborn as sns
import numpy as np

In [11]:
file = pd.read_csv('./Data/donations.csv.gz')
file.to_csv('./Data/DonationsInExcel.csv')

# Key Metrics

https://kindful.com/blog/5-donor-metrics-to-track-in-your-donor-lifecycle/

1. New contact and donor acquisition by source
2. New donor acquisition by campaign
3. Days until first gift
4. Rolling retention rate
5. Number of upgraded donors

https://support.kindful.com/hc/en-us/articles/360002746374-About-the-Metric-Retention-Rate

Donor retention rate:
(Count of donors with 1+ gift(s)in both Period 1 and Period 2) / (Count of donors with 1+ gift(s) in Period 1)

# Basic File Info

In [8]:
file.head()

                                 id           created_at  amount
0  00000ce845c00cbf0686c992fc369df4  2013-12-17 21:47:14   50.00
1  00002783bc5d108510f3f9666c8b1edd  2016-02-02 18:34:27   99.00
2  00002d44003ed46b066607c5455a999a  2016-10-25 20:15:11   10.00
3  00002d44003ed46b066607c5455a999a  2017-01-16 01:11:20   15.51
4  00002d44003ed46b066607c5455a999a  2017-01-16 14:20:10  100.00

In [9]:
file.tail()

                                       id           created_at  amount
4687879  ffffb91addfb35f11b30c2943f349654  2017-12-30 21:17:47    10.0
4687880  ffffc2e1225ac40a3ace9b8562115c9b  2016-08-29 19:09:07    75.0
4687881  ffffd8f0fbfa10b99efe90a5ee13c5df  2017-05-22 12:24:36    50.0
4687882  ffffdb40226605870f62422b2b420aab  2017-03-29 12:34:49   100.0
4687883  fffffcc42d1bf7ab742a4fa2d820f9f0  2017-03-07 06:29:16   100.0

In [10]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687884 entries, 0 to 4687883
Data columns (total 3 columns):
id            object
created_at    object
amount        float64
dtypes: float64(1), object(2)
memory usage: 107.3+ MB

In [14]:
file['id'].value_counts()

39df9399f5384334a42905bcf0acdcbf    18035
237db43817f34988f9d543ca518be4ee    14565
a0e1d358aa17745ff3d3f4e4909356f3    10515
6f74ffb17cbb2b616b1eef06bd4acd0c     9029
a1929a1172ad0b3d14bc84f54018c563     6427
19f24640d9da49f6f8b4c9938c049591     6153
24ecca49933c30a0beb83090591720c0     5688
6a35a7514005c04f8520e5d8f7657d91     5494
b51c76411b51751f45527c63c69ead9e     5141
74f7db06bcd9557d1e992dc029db69cc     5111
f37b9ff133242d08658ca2b17b3ab84c     4710
0e345dcdef0d2a36c9bd17bf1ac3e10a     4627
a7fa881a86cb4c7e70815b38168d1702     4410
4416745560343f14a74dedcda4ec03b0     4257
0cd96e83a645971f6deb4559262b7688     4225
75e09805b663bbe4b80b40034c192b4a     4109
86d57a6264726b2a94c5b9663f46330c     4052
a299db9679f7746a805fbc300362191d     4033
406518edf1c30d599de90e2055a697fc     3859
6dd7995a998f79a8c65a0d400c9a5350     3798
c376c98b0cdb746cf025bb21ee810376     3677
d24347fdee199ae9395ad44484e1caf7     3473
e7692ca3a0fe35653c173de80adfc880     3422
d006be7223c048ae8b2bdedd7dd2b4db     3330
66c30e1da1934d7cfe810ba79f6e04c1     3260
4942150e351df37d02b1b1008032d795     3228
eecc14ded80a38f692a590fe80c7b08f     3103
a7dbf5caa4e885e277e7fb46fc3b795e     2997
28601b5d4270c7f42a43bb5a44753d8e     2961
9d7051e2611cebdb758f1c7bd09360ac     2932
                                    ...
55622a2c6a407161fab26c9d5f5eb318        1
63caa8a5264ad9ba7acce51e75e78ceb        1
647885ee15578f10466ee7047cb22ff0        1
6c16b379c70fdd7d1b14f7ff6ae78099        1
bec0abbce5fb0ddff6ce950a53a9bea5        1
e12dee405c728b3fe6077160b06faa4d        1
db39529c664a93675fa1113dcad4608e        1
7af0f575593e2ae6e295ede660f698a4        1
d94d0fbe4072036722df31ecdb277795        1
445be3f1235313d28e26d3eee80b31bb        1
e678fe7159c1d46497bef0a9fab40128        1
f6910b07221d847d78a0f24fc9418b69        1
612b341f0d4036cb6b85821f025152dc        1
f812082af433ef453a17865a37a513d4        1
5e46d57d8b36552b4882605433e592d0        1
2f92818ca7c6f466d5a2e99ec94ada41        1
c68ab95fb5ff809d78acead113f2f0b1        1
4901096374b05b172bd9fdb57ad096eb        1
fbf810e423132f7aaecaae74fdf2e041        1
86dffca803f9e43d3ecaa7818ba2a6c9        1
dfdb5b7c7fecdfa2d92fa65e3d97c889        1
da780f99deb27dd85cca9d15ec87aaed        1
32c949eab0d07c0b68ed2d8db714b35c        1
d122a1f2c6c36dfa902b179b59324fce        1
becae018df49882a8431036f99154efd        1
3699be24b1dfef74ee808db421a0b26c        1
123dc097e0d98786ad3ce1e60a844222        1
930da82540ae20453f7cf955154781bd        1
7c910a3c7019fecd7b2c0876d3938f21        1
5ff8b736a285a6fd9ca1978be1dd07b0        1
Name: id, Length: 2024554, dtype: int64

# Converting to Datetime

In [24]:
file['created_at']=pd.to_datetime(file.created_at)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687884 entries, 0 to 4687883
Data columns (total 3 columns):
id            object
created_at    datetime64[ns]
amount        float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 107.3+ MB

# Most Frequent Donor

#Notes:

- No data in 2012-2015, begins 2016

In [26]:
mfd_file = file[file.id == '39df9399f5384334a42905bcf0acdcbf']
mfd_file.head()

                                       id          created_at  amount
1067831  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:00:09    1.99
1067832  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:01:42    1.47
1067833  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:02:15    1.06
1067834  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:03:11    1.00
1067835  39df9399f5384334a42905bcf0acdcbf 2016-03-09 17:53:14    1.00

In [28]:
#2016 year

mfd_2016 =  mfd_file[(mfd_file['created_at']>datetime.date(2016,1,1)) & (mfd_file['created_at']<datetime.date(2016,12,31))]
mfd_2016.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until

                                       id          created_at  amount
1067831  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:00:09    1.99
1067832  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:01:42    1.47
1067833  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:02:15    1.06
1067834  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:03:11    1.00
1067835  39df9399f5384334a42905bcf0acdcbf 2016-03-09 17:53:14    1.00

In [30]:
mfd_2016.shape

(3040, 3)

In [38]:
mfd_freq =  mfd_file[(rr_file['created_at']>datetime.date(2016,1,1)) & (rr_file['created_at']<datetime.date(2016,12,31))]
mfd_freq

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

                                       id          created_at  amount
1067831  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:00:09    1.99
1067832  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:01:42    1.47
1067833  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:02:15    1.06
1067834  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:03:11    1.00
1067835  39df9399f5384334a42905bcf0acdcbf 2016-03-09 17:53:14    1.00

In [43]:
mfd_freq_mar16 =  mfd_freq[(mfd_freq['created_at']>datetime.date(2016,3,1)) & (mfd_freq['created_at']<datetime.date(2016,3,28))]
mfd_freq_mar16

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

                                       id          created_at  amount
1067831  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:00:09    1.99
1067832  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:01:42    1.47
1067833  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:02:15    1.06
1067834  39df9399f5384334a42905bcf0acdcbf 2016-03-09 11:03:11    1.00
1067835  39df9399f5384334a42905bcf0acdcbf 2016-03-09 17:53:14    1.00
1067836  39df9399f5384334a42905bcf0acdcbf 2016-03-09 21:59:56    1.00
1067837  39df9399f5384334a42905bcf0acdcbf 2016-03-09 22:13:48    1.81
1067838  39df9399f5384334a42905bcf0acdcbf 2016-03-10 09:23:25    1.00
1067839  39df9399f5384334a42905bcf0acdcbf 2016-03-10 09:31:41    1.00
1067840  39df9399f5384334a42905bcf0acdcbf 2016-03-10 09:33:47    1.11
1067841  39df9399f5384334a42905bcf0acdcbf 2016-03-10 09:40:15    1.45
1067842  39df9399f5384334a42905bcf0acdcbf 2016-03-10 09:42:52    1.00
1067843  39df9399f5384334a42905bcf0acdcbf 2016-03-10 10:12:02    1.91
1067844  39df9399f5384334a42905bcf0acdcbf 2016-03-10 21:51:46    1.00
1067845  39df9399f5384334a42905bcf0acdcbf 2016-03-11 15:19:10    1.00
1067846  39df9399f5384334a42905bcf0acdcbf 2016-03-11 15:43:06    1.00
1067847  39df9399f5384334a42905bcf0acdcbf 2016-03-11 21:51:15    1.54
1067848  39df9399f5384334a42905bcf0acdcbf 2016-03-11 22:11:52    1.11
1067849  39df9399f5384334a42905bcf0acdcbf 2016-03-11 22:12:01    1.97
1067850  39df9399f5384334a42905bcf0acdcbf 2016-03-11 22:12:41    1.10
1067851  39df9399f5384334a42905bcf0acdcbf 2016-03-11 22:12:51    1.72
1067852  39df9399f5384334a42905bcf0acdcbf 2016-03-11 22:15:49    1.00
1067853  39df9399f5384334a42905bcf0acdcbf 2016-03-12 00:13:02    1.05
1067854  39df9399f5384334a42905bcf0acdcbf 2016-03-12 11:34:39    1.00
1067855  39df9399f5384334a42905bcf0acdcbf 2016-03-12 11:55:30    1.42
1067856  39df9399f5384334a42905bcf0acdcbf 2016-03-12 18:07:51    1.39
1067857  39df9399f5384334a42905bcf0acdcbf 2016-03-12 18:08:03    1.59
1067858  39df9399f5384334a42905bcf0acdcbf 2016-03-12 18:15:43    1.63
1067859  39df9399f5384334a42905bcf0acdcbf 2016-03-12 20:37:49    1.23
1067860  39df9399f5384334a42905bcf0acdcbf 2016-03-14 12:49:54    1.08
1067861  39df9399f5384334a42905bcf0acdcbf 2016-03-15 13:36:30    1.41
1067862  39df9399f5384334a42905bcf0acdcbf 2016-03-15 13:40:24    1.00
1067863  39df9399f5384334a42905bcf0acdcbf 2016-03-15 13:44:10    1.00
1067864  39df9399f5384334a42905bcf0acdcbf 2016-03-15 17:52:05    1.16
1067865  39df9399f5384334a42905bcf0acdcbf 2016-03-15 18:09:52    1.00
1067866  39df9399f5384334a42905bcf0acdcbf 2016-03-15 18:13:12    1.44
1067867  39df9399f5384334a42905bcf0acdcbf 2016-03-18 14:35:35    1.36
1067868  39df9399f5384334a42905bcf0acdcbf 2016-03-18 14:36:26    1.00
1067869  39df9399f5384334a42905bcf0acdcbf 2016-03-19 10:24:43    1.05

# retention rate

In [74]:
#Establishing Timeframe of 2016 - 2017

pd1 =  file[(file['created_at']>=datetime.date(2016,1,1)) & (file['created_at']<=datetime.date(2016,12,31))]
pd2 =  file[(file['created_at']>=datetime.date(2017,1,1)) & (file['created_at']<=datetime.date(2017,12,31))]

print(pd1.head())
print(pd2.head())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

                                  id          created_at  amount
1   00002783bc5d108510f3f9666c8b1edd 2016-02-02 18:34:27    99.0
2   00002d44003ed46b066607c5455a999a 2016-10-25 20:15:11    10.0
14  00002eb25d60a09c318efbd0797bffb5 2016-01-14 14:13:57    50.0
20  00004e32a448b4832e1b993500bf0731 2016-08-21 19:25:33    25.0
54  0000a3fd8b8a3d1a90fbb1e0cd44c62b 2016-10-05 09:04:16    50.0
                                 id          created_at  amount
3  00002d44003ed46b066607c5455a999a 2017-01-16 01:11:20   15.51
4  00002d44003ed46b066607c5455a999a 2017-01-16 14:20:10  100.00
5  00002d44003ed46b066607c5455a999a 2017-01-16 14:26:19    9.69
6  00002d44003ed46b066607c5455a999a 2017-01-16 15:46:57   13.75
7  00002d44003ed46b066607c5455a999a 2017-02-01 18:53:25  150.00

In [75]:
# View unique donors in 2016
pd1['id'].value_counts()


# 554,159 unique donors identified

a7fa881a86cb4c7e70815b38168d1702    3673
39df9399f5384334a42905bcf0acdcbf    3040
237db43817f34988f9d543ca518be4ee    2508
a299db9679f7746a805fbc300362191d    1579
4416745560343f14a74dedcda4ec03b0    1500
19f24640d9da49f6f8b4c9938c049591    1412
a0e1d358aa17745ff3d3f4e4909356f3    1233
b51c76411b51751f45527c63c69ead9e    1211
6a35a7514005c04f8520e5d8f7657d91    1103
fb961cd43218b42e06852a1e3bf82286    1084
86d57a6264726b2a94c5b9663f46330c    1073
d006be7223c048ae8b2bdedd7dd2b4db    1054
66c30e1da1934d7cfe810ba79f6e04c1     965
a747520b8d27d36d2f929f2b12e243ab     936
a949a2ed73b13adb7a63fbc8ea90f6dc     928
75e09805b663bbe4b80b40034c192b4a     910
1be8ff2501f21dbe85a2fc87afb641e8     856
0d90f689080b0d740a62a51c7f362829     844
f37b9ff133242d08658ca2b17b3ab84c     767
406518edf1c30d599de90e2055a697fc     737
c376c98b0cdb746cf025bb21ee810376     725
82a258e41c5d1b71ba786065573f0584     692
e7692ca3a0fe35653c173de80adfc880     686
161003b94c2310d9ee64985e1027e5d3     679
a3035865529f45390eadc0ed998ec255     638
b71e86099da00bfa6adf64b70206c9ce     635
74f7db06bcd9557d1e992dc029db69cc     628
d24347fdee199ae9395ad44484e1caf7     626
7c8313b677fab6e47d00c873cbd7224b     568
1bd2897236a4c343102e5e8e26d2ad4a     532
                                    ...
f608e075be6eff6c6867c968c6008c1b       1
f45af2b1e79406aa1622f9b4ba4e3df2       1
97273ca1d5d2c2e410696d550f4fb857       1
3f58f45f414ee50b06a0f0b71b684f1b       1
2b9b8fc7397159197ce9bb06124bfd60       1
a9de9c14fc89420acfd242046f7a0d0b       1
cf4b54792a9b30cfd23812ff5e4a799e       1
f0c30889f3a85610602e71bd19372de9       1
583a30f89b25b24e0fa3d7073a414fa5       1
894d119801fad320faefb8a2842ab8c4       1
c39a2187a3b640e1ffd45670ce50610c       1
9ae9d1fa7710f0ee9be274af71ee5587       1
b5ad61eb0d6d0822821f79826cfb608f       1
5792f8779fe9ed5846cd8f971578d248       1
97dfdaade46b5cc2f88a75195211bac0       1
583172781a8a06dc42e7d6ffd222ddfe       1
491db8b726aed95078ca78f91a56c2ff       1
ca299625d7359d6ac4fe216b04fb82ec       1
30ac9e028e079b5a8f3662227a86d9cc       1
6b8099266844cab7c0a93168dc4f67a0       1
0193917b68a5ed88fc82412ab6ae113f       1
1f34b7cbe619524a4a874ae572e20273       1
837abd23842ea4f18e6e0ac5c247ee9b       1
fa15e434bc852d374af2a97320e545f3       1
497cde646bf678c7cfdff477ca4e5b09       1
ff0c3052b75954df49fdb96190eee388       1
57084002601516ba173a8638c686ffd4       1
824247a4c20b170b1d8e55564d62ccac       1
d20bbbe1fc8ec0ecd465fa56ce5a2b6e       1
5ff8b736a285a6fd9ca1978be1dd07b0       1
Name: id, Length: 554159, dtype: int64

In [77]:
# View unique donors in 2016
pd2['id'].value_counts()


# 573042 unique donors identified

39df9399f5384334a42905bcf0acdcbf    13746
237db43817f34988f9d543ca518be4ee     3932
24ecca49933c30a0beb83090591720c0     3821
0cd96e83a645971f6deb4559262b7688     2475
de8b8ed34d1800ca93f7ef480857d872     2150
4942150e351df37d02b1b1008032d795     1775
0d9c155b27c25fa0dbac617f9507226d     1574
a299db9679f7746a805fbc300362191d     1455
a949a2ed73b13adb7a63fbc8ea90f6dc     1435
f4e59466422bf084792071a849284771     1343
6a35a7514005c04f8520e5d8f7657d91     1339
f9dd79ea006fee7bb4a5cc8473d8656c     1272
19f24640d9da49f6f8b4c9938c049591     1269
d006be7223c048ae8b2bdedd7dd2b4db     1246
fb961cd43218b42e06852a1e3bf82286     1202
22f51fc8e5750e45e7a3da489eacfe40     1137
4416745560343f14a74dedcda4ec03b0     1114
66c30e1da1934d7cfe810ba79f6e04c1      968
3ba8a29e3dd72043f9738c0895733834      966
b51c76411b51751f45527c63c69ead9e      959
1be8ff2501f21dbe85a2fc87afb641e8      875
544eea257f2154d79dab2f7119f11af2      858
c376c98b0cdb746cf025bb21ee810376      845
a747520b8d27d36d2f929f2b12e243ab      844
86d57a6264726b2a94c5b9663f46330c      827
ebf4949aa3d2a10c7518ce1b348d9f0f      819
b02e6d6a11f2fecbfead6fdbfb6664ff      793
560970c7a82523f66d4977d02db20dcc      775
75e09805b663bbe4b80b40034c192b4a      771
2dd5ef5f3acc58a4bc71871e53263d62      730
                                    ...
e3d470cc01f3a4191a624db0573d60e4        1
00a39f123badbe41fc0a99f5338bbdc1        1
cf790d5f365e5c9d063cfcf4accafab5        1
ac391569b0979e5892928d2aae2c7860        1
22d265267da2ba387c3f8e290ae3499f        1
e37d78eb199de549a04e4d422013a597        1
bb380c8aac0ba667b83d01a2b5185e03        1
59c10bf9ad93ce3809b61d3ab0fe1105        1
25c62231e9bfc477b53d375d547149b1        1
a0b699ed03ef38bcc331a12e310429a7        1
f5639cd333dea8a2182d4e135a2d561e        1
7ab442deb4da59cc86a7997320b89bf8        1
428dd9d0847200cc6a646dbd7973b2b5        1
848585a9677a7fec08fb3baacc3d3fd8        1
64f12f92cc76eb0f2bf3948f0e48439b        1
29645fdbd8a11d65f7e76a77f102db60        1
f336edb69fd31a11a52d624346850d9a        1
91218509acf7f511bad8c2dcaf8d7934        1
568c05b52d5dd021d38a0e3871a17200        1
b994f52b1fbb83fedf4d2e7151ece40f        1
2f1ae1084d3c1e536a06157bb2308fda        1
1be5313b8c6a5eafaa7b71f5901eb64b        1
e0fe5afe943333f1da4b7e631fd524c7        1
57b2e0d266a90d4e14e8b69b7c09424d        1
184eb0e198161813470a1422a046d9e2        1
49cfbc4db69b1cdcd90e16dc70dc2dc8        1
2e94aa2765e1363fe903a8f0e982d1da        1
eba6ca34c9a787e0a770bd91bd90a918        1
f2da0f0830184f6579ca77b7b74298cf        1
0e58fddfe4c8526becaafa787502b5aa        1
Name: id, Length: 573042, dtype: int64

In [66]:
# pd2 will need to be filtered down to the same donors in 2016, try using isin

pd2_ret = pd1[pd1['id'].isin(pd2.id)]


pd2_ret['id'].value_counts()

a7fa881a86cb4c7e70815b38168d1702    3673
39df9399f5384334a42905bcf0acdcbf    3040
237db43817f34988f9d543ca518be4ee    2508
a299db9679f7746a805fbc300362191d    1579
4416745560343f14a74dedcda4ec03b0    1500
19f24640d9da49f6f8b4c9938c049591    1412
a0e1d358aa17745ff3d3f4e4909356f3    1233
b51c76411b51751f45527c63c69ead9e    1211
6a35a7514005c04f8520e5d8f7657d91    1103
fb961cd43218b42e06852a1e3bf82286    1084
86d57a6264726b2a94c5b9663f46330c    1073
d006be7223c048ae8b2bdedd7dd2b4db    1054
66c30e1da1934d7cfe810ba79f6e04c1     965
a747520b8d27d36d2f929f2b12e243ab     936
a949a2ed73b13adb7a63fbc8ea90f6dc     928
75e09805b663bbe4b80b40034c192b4a     910
1be8ff2501f21dbe85a2fc87afb641e8     856
0d90f689080b0d740a62a51c7f362829     844
f37b9ff133242d08658ca2b17b3ab84c     767
406518edf1c30d599de90e2055a697fc     737
c376c98b0cdb746cf025bb21ee810376     725
82a258e41c5d1b71ba786065573f0584     692
e7692ca3a0fe35653c173de80adfc880     686
161003b94c2310d9ee64985e1027e5d3     679
a3035865529f45390eadc0ed998ec255     638
b71e86099da00bfa6adf64b70206c9ce     635
74f7db06bcd9557d1e992dc029db69cc     628
d24347fdee199ae9395ad44484e1caf7     626
a1929a1172ad0b3d14bc84f54018c563     532
1bd2897236a4c343102e5e8e26d2ad4a     532
                                    ...
04910406e1928cf13609eabbca4caaed       1
fb366401b5e57c350e3fa5c5ae48ee4d       1
45867040857b4c1cf2facce4746c6288       1
bbfd5aa9b56604cd5c94b89a34fd6fe7       1
a9313d65350b8af48619468f524b5374       1
0fc4652e3c67578023432e7cb0cc580e       1
f99234e84050600a0fa3039547726287       1
4d00bd624517f90a46ae508643673ca1       1
00e1263d3297f6e5a47a80140944bb6a       1
92272ae78f58a564a8785c1ee1e5ec64       1
5aeefc9aafb71e80a6ca1c511bccb6dc       1
de629763b3d80b7975885fe7e320e8e3       1
06b8891c5db981b412582c40ed9ef4d2       1
8bc02027b13e737d7e359b5acaae59ed       1
f4dd12082c2a12f402408d9631c83f9b       1
eee266dbc5f29f647f1cbb17cc95e39b       1
199f4d4212cec1a676e686c263fbaf70       1
93d2b683c5c463438ee8bf485edea5dc       1
f3f7806b864a70faacd403fd2d7234b9       1
664cd3372eaca1443c0c6e0c0489b47d       1
92edadef7a66477dae0de44da826eadc       1
5defc6726e18ec6367e5c0708008dbaf       1
937ad5f6b8b8b9cd9840c13de0ba448b       1
417c5163402090e8770a6d3ca5a87f55       1
8f4eca9e826999f4a9d1814592ea4684       1
61673975cf076cbb551c2bc8b981454b       1
f63e235a75102547f2a87d939bbe9534       1
e435805f11d3f24ded4d7991b9c47d00       1
a1c2e77d88b80df98f35395609fe9609       1
8b8ab2f6c0361494ba86c9fc52fb78bf       1
Name: id, Length: 98645, dtype: int64

# Rolling Retention Rate 2017 - 2016

In [78]:
# Retention Rate Function 

# Retention Rate = Count of donors with 1+ gift(s) in both Period 1 and Period 2 / 
#Count of donors with 1+ gift(s) in Period 1

#pd1 donors: 554159
#pd2 donors: 98645

# ret rate rolling = (pd2 returning donors / pd1 donors) * 100

def RetRate (amount1, amount2):
    ret_rate = (amount2/amount1)
    ret_rate_rolling = (ret_rate * 100)
    return ret_rate_rolling

In [79]:
#ret rate 2017 - 2016
RetRate(554159,98645)

17.80084777112706

# Retention Rates for 2016 - 2015

In [60]:
# Set Time frames 
pd3 =  file[(file['created_at']>=datetime.date(2015,1,1)) & (file['created_at']<=datetime.date(2015,12,31))]
pd4 =  file[(file['created_at']>=datetime.date(2016,1,1)) & (file['created_at']<=datetime.date(2016,12,31))]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [80]:
pd4_ret = pd3[pd3['id'].isin(pd4.id)]
pd4_ret['id'].value_counts()

#Returning number of donors: 79441

19f24640d9da49f6f8b4c9938c049591    2231
237db43817f34988f9d543ca518be4ee    1778
a1929a1172ad0b3d14bc84f54018c563    1395
74f7db06bcd9557d1e992dc029db69cc    1238
a0e1d358aa17745ff3d3f4e4909356f3    1214
75e09805b663bbe4b80b40034c192b4a    1088
f37b9ff133242d08658ca2b17b3ab84c     972
89938b0c7cca8e61dcd93d9363609bd1     964
7f0f127b9f4651d2119db95bac9455c1     961
b51c76411b51751f45527c63c69ead9e     947
1756d766dab5b3cac8f2aa500430f326     945
66c30e1da1934d7cfe810ba79f6e04c1     871
8cdc14c8af9e189227aaa8d5e51935b0     870
a3035865529f45390eadc0ed998ec255     762
7fbbd53cb78bb7a35525d6918c6b5704     734
6dd7995a998f79a8c65a0d400c9a5350     708
86d57a6264726b2a94c5b9663f46330c     708
c376c98b0cdb746cf025bb21ee810376     697
406518edf1c30d599de90e2055a697fc     696
ebf4949aa3d2a10c7518ce1b348d9f0f     684
737fcb389f66ddc59f962e7a3e57112e     664
e7692ca3a0fe35653c173de80adfc880     662
0e345dcdef0d2a36c9bd17bf1ac3e10a     654
6a35a7514005c04f8520e5d8f7657d91     648
eecc14ded80a38f692a590fe80c7b08f     642
28601b5d4270c7f42a43bb5a44753d8e     637
0e01e632606c230914fe73c2d2ccead3     599
be833db4f16df25696356b1194a14308     571
4416745560343f14a74dedcda4ec03b0     564
009d5fc7b87883ffad248db5150bf1fc     544
                                    ...
1dadce9c402b66db980c92e627f8d6ad       1
ffee2b2778b9ea968a8c155ef320168e       1
fe753bbf724f953264515ee49bafcda4       1
ae89836f6c72e4dcd8ba67b409379e72       1
ea609ea5aa3cb42ee6fa4580793d3097       1
d63416b1802385d4e3c89a3f659db8ea       1
c6b3dbe1f5a12eea222d69ead37d89c0       1
714cc28ecacbb8f534676dfb8f2ea19b       1
f5268831a57147d37f0a15ba6cb1dcda       1
068d4d11ede02491815a1f8dea203faa       1
9acdc5284de86e169fba579a89ecd065       1
6c4a07f2552e856a746f20876c877553       1
8979453844681af2845be8cd00268353       1
176caeaee4b9be019d7b8646038644c4       1
9e13469fcd296f4a50d560fe53a13673       1
73eab08f2c9c521aaf2f8b63487bd081       1
23a07805538f1f86d4fe5727d444728e       1
fbc4b340c79e6c8e985caa386346ee31       1
0af6cff5990f0cbb9cca366ade09f28f       1
01b3d04e4987340512aa575b665baff6       1
91611fc071d6c68a7e313ce3d533703a       1
1032e3bf8c0c25e7c5eedf892e48ca0f       1
663cb3fa55e0dc00d59f31a72ee5dcd2       1
979bd8d4f3b93ed24c18dde1650e830e       1
d385f51911b72d2351540c0c565cc641       1
3aff46eafb85a4ece06ace1d7e2ece8e       1
44f2dbbc84a732b47e5867378b640523       1
e607fbbae832edee447a8a98096c1cff       1
0a8f525579e4d2330224cd111008934d       1
40f3d953d6569d8ae4b5b0b5b2465e4d       1
Name: id, Length: 79441, dtype: int64

In [81]:
pd3['id'].value_counts()
# Number of unique donors: 444546

19f24640d9da49f6f8b4c9938c049591    2231
237db43817f34988f9d543ca518be4ee    1778
a1929a1172ad0b3d14bc84f54018c563    1395
74f7db06bcd9557d1e992dc029db69cc    1238
a0e1d358aa17745ff3d3f4e4909356f3    1214
75e09805b663bbe4b80b40034c192b4a    1088
f37b9ff133242d08658ca2b17b3ab84c     972
89938b0c7cca8e61dcd93d9363609bd1     964
7f0f127b9f4651d2119db95bac9455c1     961
b51c76411b51751f45527c63c69ead9e     947
1756d766dab5b3cac8f2aa500430f326     945
66c30e1da1934d7cfe810ba79f6e04c1     871
8cdc14c8af9e189227aaa8d5e51935b0     870
a3035865529f45390eadc0ed998ec255     762
7fbbd53cb78bb7a35525d6918c6b5704     734
86d57a6264726b2a94c5b9663f46330c     708
6dd7995a998f79a8c65a0d400c9a5350     708
c376c98b0cdb746cf025bb21ee810376     697
406518edf1c30d599de90e2055a697fc     696
ebf4949aa3d2a10c7518ce1b348d9f0f     684
737fcb389f66ddc59f962e7a3e57112e     664
e7692ca3a0fe35653c173de80adfc880     662
0e345dcdef0d2a36c9bd17bf1ac3e10a     654
6a35a7514005c04f8520e5d8f7657d91     648
eecc14ded80a38f692a590fe80c7b08f     642
28601b5d4270c7f42a43bb5a44753d8e     637
0e01e632606c230914fe73c2d2ccead3     599
be833db4f16df25696356b1194a14308     571
4416745560343f14a74dedcda4ec03b0     564
009d5fc7b87883ffad248db5150bf1fc     544
                                    ...
40942be72cbef0770e07062adc6eddd6       1
1d5865ab5399c4ab506e5fc1a8152775       1
2cfedc1f2847b89c4eb8fad0dabeb9ae       1
eac5b33555a51b1f1c03387a8561555f       1
a8c22273b036f09c38efb1c4ca3e4ed5       1
f0a3f3dcef6ab8e516c8dc186d3518af       1
35e88c4298e78ea807d6ec100ee4da67       1
92944d260a89e4a5d0f6b6326c004334       1
18e709d4f30c5ac3f860643902d81af3       1
72358454fc7c157ea4ff45b6001735f3       1
c141a4758f007ed70de7c51958244ac9       1
e8d4ece0fee2bd0092abeecbc47ed251       1
8eb2d7e12988dfdfbc1f85ae707d09b9       1
66468df25c39393317169dd3208edc8e       1
608474d8373174286c73b792288e4eb4       1
b24c42bad45f4d4c2d9a944c8185d4f8       1
6fcf4cb6bd2251d9196db63ad4c68038       1
1a5695bea2f3dfc6a89e895a8dd483d7       1
79d8b29de3d8faf1c95b71ca343409df       1
330c0841735746b8df4d8b1f4099ce72       1
0ea39e6501b23da1f6c3597bd0d181bc       1
c2e9ac9bd988a667d9bca6fee05248f5       1
0ee9d6292ed4143064a2b9a9d0c96ed9       1
a811b52eceaf6f5b753d4f5712cb5eb8       1
18cce02bd5fd8e015d1455c00d672635       1
0a1972def7a11d5665853094b3f3b042       1
6f176038df2299394d49587f93b789a2       1
866a256675e8baf14f4571279b1c6eea       1
25067a57601ee0efa7201e2ae4ae6146       1
79279d2a581041b4d6f7b10befdc5649       1
Name: id, Length: 444546, dtype: int64

In [69]:
RetRate(444546,79441)

17.870141672627803

# Retention Rate 2015 - 2014

In [82]:
# Set Timeframe

pd5 =  file[(file['created_at']>=datetime.date(2014,1,1)) & (file['created_at']<=datetime.date(2014,12,31))]
pd6 =  file[(file['created_at']>=datetime.date(2015,1,1)) & (file['created_at']<=datetime.date(2015,12,31))]

pd6_ret = pd6[pd6['id'].isin(pd5.id)]
pd6_ret['id'].value_counts()

# Returning Donors for 2015: 73836

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

19f24640d9da49f6f8b4c9938c049591    2231
237db43817f34988f9d543ca518be4ee    1778
a1929a1172ad0b3d14bc84f54018c563    1395
74f7db06bcd9557d1e992dc029db69cc    1238
a0e1d358aa17745ff3d3f4e4909356f3    1214
75e09805b663bbe4b80b40034c192b4a    1088
f37b9ff133242d08658ca2b17b3ab84c     972
89938b0c7cca8e61dcd93d9363609bd1     964
7f0f127b9f4651d2119db95bac9455c1     961
b51c76411b51751f45527c63c69ead9e     947
1756d766dab5b3cac8f2aa500430f326     945
66c30e1da1934d7cfe810ba79f6e04c1     871
8cdc14c8af9e189227aaa8d5e51935b0     870
a3035865529f45390eadc0ed998ec255     762
7fbbd53cb78bb7a35525d6918c6b5704     734
86d57a6264726b2a94c5b9663f46330c     708
6dd7995a998f79a8c65a0d400c9a5350     708
c376c98b0cdb746cf025bb21ee810376     697
406518edf1c30d599de90e2055a697fc     696
ebf4949aa3d2a10c7518ce1b348d9f0f     684
737fcb389f66ddc59f962e7a3e57112e     664
e7692ca3a0fe35653c173de80adfc880     662
0e345dcdef0d2a36c9bd17bf1ac3e10a     654
6a35a7514005c04f8520e5d8f7657d91     648
eecc14ded80a38f692a590fe80c7b08f     642
28601b5d4270c7f42a43bb5a44753d8e     637
0e01e632606c230914fe73c2d2ccead3     599
be833db4f16df25696356b1194a14308     571
4416745560343f14a74dedcda4ec03b0     564
009d5fc7b87883ffad248db5150bf1fc     544
                                    ...
ee9990c9855f726dd5378bfd80796e52       1
2e35b9690e0b9743c43a689945458c96       1
db87bf25d79f78e4daf092ca1b64075d       1
b7193b16bcf605227348cc7a848701c3       1
629a0884294e45a9ba43cee60cdd2d61       1
bd97598ea2749acfa252018559eefb15       1
a64665d85271a7e883f92009efbac5f8       1
22ade96e1389d74e49782e5b5e6ec5f3       1
4e029b12f845a6ca4f0779dcda0a838b       1
03d0f3eb35ad72d6967c8448340d13c2       1
654c3df81aa6973d5fdd7b322b05f2ae       1
a9981d9764c14eb6d64961da400d7d12       1
01927e0a1c7a2be3b12a84dd72845554       1
f50959db6ebb799a692e9915da7ea1bc       1
3d77ed92735534028845c2b20f19571c       1
19b98efea98bcd717d85e919b4530513       1
ef589b959304e6e9cd883ffa76a2d743       1
71300a51d7bfceda94176c9e7f53ba9e       1
d398885dbcb127ef3a70c733e8cdccca       1
131ff7d7a7fe9c65e16db5772bc5b131       1
15e90828f307b2b992762056d1f69959       1
42b7752652d213983207f4d5990abd5e       1
c1432302c360da5be8eace3b78949fa4       1
a66e04475e3705fce4e1d896e23c0848       1
f5dd91bd6ffcd60158bc7f2e72a8f953       1
ea5a083730d858eff0c729c913c6cf9e       1
521a8cbda403fabc0f569bb6e223ad1c       1
0fd591023e0e7b39dbb31ad509b332e4       1
db76a6b8c65158e4157ca547df79eda6       1
26615cda7c26ea964104fbb13d81aa02       1
Name: id, Length: 73836, dtype: int64

In [83]:
pd5['id'].value_counts()
# Number of unique donors: 381335

237db43817f34988f9d543ca518be4ee    2934
74f7db06bcd9557d1e992dc029db69cc    2802
a1929a1172ad0b3d14bc84f54018c563    2414
a0e1d358aa17745ff3d3f4e4909356f3    1952
98c4cd327c417683cd76a2ac19fc6254    1727
6dd7995a998f79a8c65a0d400c9a5350    1602
6f74ffb17cbb2b616b1eef06bd4acd0c    1599
0e345dcdef0d2a36c9bd17bf1ac3e10a    1359
f37b9ff133242d08658ca2b17b3ab84c    1328
eecc14ded80a38f692a590fe80c7b08f    1317
1756d766dab5b3cac8f2aa500430f326    1296
a7dbf5caa4e885e277e7fb46fc3b795e    1261
8cad5d421ba7f4410ed46b5de4ed4feb    1238
609e28d99b36d35679ae56268e4dddc3    1210
b51c76411b51751f45527c63c69ead9e    1206
28601b5d4270c7f42a43bb5a44753d8e    1182
fef52f20ea7ecb9a6794b055e00ea4cf    1090
67cb61233835275f98075521d5afa420    1067
6a35a7514005c04f8520e5d8f7657d91    1043
406518edf1c30d599de90e2055a697fc     983
83f60be3091501e3af97b20a4eb9cf6f     980
75e09805b663bbe4b80b40034c192b4a     978
c376c98b0cdb746cf025bb21ee810376     973
be833db4f16df25696356b1194a14308     968
43ce849972030459730d54013f0228f2     964
4416745560343f14a74dedcda4ec03b0     961
9d7051e2611cebdb758f1c7bd09360ac     949
21b1f0d20fe90350172022563503364c     877
df40c0be9e44bfa1bc6f005e9c46bcaa     857
1a8fd309463ad0d6603be484c5f90b1d     831
                                    ...
5ad8af1df3b622e26ee616d57b28e011       1
5e9e746714a1d7bb9c71522c2b07fa1f       1
856df8ff929a3622926b9a6e783f7acb       1
d8439de570122310282e7d53420f013e       1
e026979995d9072a9049cca384c65a1c       1
43edf1a0b0f8cf6d644c6e3e4d915f35       1
3e111bce80a092b4811faa646ec690f3       1
265c1fbd5e3857b323891c0300e1f6e6       1
8af7d7cdfbb969016d11f9dd17b6edf0       1
c00aa62e541d31f0dd1c7143779592b3       1
2912b7e105a4e9e46dfaa6c46b416eee       1
d47f7862bfc3b59fb6d168240bc97c16       1
677fbffa9232a906b45c0b8772407b49       1
5b6397a1598ada9b9864620ce41fb04b       1
ca240809a3741675d361b4660aec34cd       1
fd97c12689ab7a0bd47192a6fa42699c       1
749da2df1add8d20ce28944b053a42e5       1
ca5ad4057bfb98133c8b176f81225a83       1
900371a6175b88ac6e3bdfff5664daae       1
3dadf50e93aa165b7114ea168c30adb8       1
0af7d49efe799bfb261d663886c949a0       1
ae3317b499956e7c1229cdaff5439f0d       1
61b7aab8f4d1fd3c820ed9c5afaea8c0       1
5d922bd73e05b18e793cd501bb7a8f98       1
ae183a03faf5bf49169e5c1a97f282a6       1
cc81c843e7d88b4dbaa5cf6c506b99c4       1
2a38ffea10e0b93a10ee21de014829a2       1
6efaa594b599cbf7919023c553e8185a       1
86a27927c1bf68dea25c30a462922e51       1
241215327d843e519a979aac73f175b9       1
Name: id, Length: 381335, dtype: int64

In [86]:
RetRate(381335,73836 )

19.362502786264045

# Retention Rate 2014 - 2013

In [89]:
pd7 =  file[(file['created_at']>=datetime.date(2013,1,1)) & (file['created_at']<=datetime.date(2013,12,31))]
pd8 =  file[(file['created_at']>=datetime.date(2014,1,1)) & (file['created_at']<=datetime.date(2014,12,31))]

pd8_ret = pd8[pd8['id'].isin(pd7.id)]
pd8_ret['id'].value_counts()

#Returning Donors 2014: 61337

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

237db43817f34988f9d543ca518be4ee    2934
74f7db06bcd9557d1e992dc029db69cc    2802
a1929a1172ad0b3d14bc84f54018c563    2414
a0e1d358aa17745ff3d3f4e4909356f3    1952
98c4cd327c417683cd76a2ac19fc6254    1727
6dd7995a998f79a8c65a0d400c9a5350    1602
6f74ffb17cbb2b616b1eef06bd4acd0c    1599
0e345dcdef0d2a36c9bd17bf1ac3e10a    1359
f37b9ff133242d08658ca2b17b3ab84c    1328
eecc14ded80a38f692a590fe80c7b08f    1317
a7dbf5caa4e885e277e7fb46fc3b795e    1261
8cad5d421ba7f4410ed46b5de4ed4feb    1238
609e28d99b36d35679ae56268e4dddc3    1210
b51c76411b51751f45527c63c69ead9e    1206
28601b5d4270c7f42a43bb5a44753d8e    1182
fef52f20ea7ecb9a6794b055e00ea4cf    1090
67cb61233835275f98075521d5afa420    1067
6a35a7514005c04f8520e5d8f7657d91    1043
406518edf1c30d599de90e2055a697fc     983
83f60be3091501e3af97b20a4eb9cf6f     980
75e09805b663bbe4b80b40034c192b4a     978
c376c98b0cdb746cf025bb21ee810376     973
be833db4f16df25696356b1194a14308     968
43ce849972030459730d54013f0228f2     964
4416745560343f14a74dedcda4ec03b0     961
9d7051e2611cebdb758f1c7bd09360ac     949
21b1f0d20fe90350172022563503364c     877
df40c0be9e44bfa1bc6f005e9c46bcaa     857
1a8fd309463ad0d6603be484c5f90b1d     831
e7692ca3a0fe35653c173de80adfc880     815
                                    ...
a337e5492a1b04d4b404050a84d40680       1
64cb908eb2e3fcf5ee7e8564f0321a2f       1
13bcb9b1f90579b64ea0710d0b8c7ff5       1
e64d08891c9d37e2ebd2c5bac77e3392       1
46d11d8b9b202f596a014b33decaf115       1
f0b17adc429a0247c24b5f78bb13e016       1
0ee92fcb4c1878051361747777fcb846       1
399ba4eea860f3a7bec63fb006893e0c       1
20f41ad8fffd801dd349b73d378602bf       1
d77f6a65660855afa56bb74bbbc4ec5a       1
d8bda544fd7510ac4371252581cb2156       1
86dd1c1abd6f0935b6112337934d75a7       1
ec344dcdd493490df8126843dc3b60b3       1
70c4a9dcacde3e164b169eba99ed3ef9       1
d6dde7307c1e07a54fb50bb9d7a21453       1
407c9cdd86ce87ea3c124b702c4c1fd2       1
4fb8a7ce627b719b71c349d9602fa06b       1
9fdbd7511762d14a25524e811a39e3a4       1
d49c8ef2ea594050191a898da38f03a1       1
31d89c534623ee316c1d5542d2d403e4       1
0c6836767bf029a41128808237fd96c0       1
238a7fc3b7adf640e09f90b4325de8ae       1
3c4053216605075985becb550f877e56       1
e0865ec0a72ab794545cfe60823100c7       1
5fc400e0cecca2e1c5f31bfc404a2332       1
93f546ac822811390c8bc455d39dda70       1
d855a5fe6215f200589199c51caf780b       1
e353647a7920d3524a7409a2fdef440f       1
b515b132992e17d005ce0fad6a21b19c       1
f522c13620bde578bfef053315e24b27       1
Name: id, Length: 61337, dtype: int64

In [90]:
#Total Donors in 2013
pd7['id'].value_counts()

6f74ffb17cbb2b616b1eef06bd4acd0c    7420
a0e1d358aa17745ff3d3f4e4909356f3    5312
0e345dcdef0d2a36c9bd17bf1ac3e10a    2288
237db43817f34988f9d543ca518be4ee    2257
a7dbf5caa4e885e277e7fb46fc3b795e    1711
a1929a1172ad0b3d14bc84f54018c563    1446
03fa60275eb66e873c30ecb86840df4b    1314
231415b2ecc9c2baa31f887e88fbb53c    1123
af9b7cd6efb4e03ce0b338a4407f76de    1109
6cefb47fd0aef74400d5e787f6553e4a    1014
43ce849972030459730d54013f0228f2     998
83f60be3091501e3af97b20a4eb9cf6f     991
9e174833c4d6ac353a9be7838cfa3549     957
eecc14ded80a38f692a590fe80c7b08f     857
6dd7995a998f79a8c65a0d400c9a5350     853
f37b9ff133242d08658ca2b17b3ab84c     846
7c6a03f0858c8cff5a877b25ab9394e8     791
6a35a7514005c04f8520e5d8f7657d91     753
98c4cd327c417683cd76a2ac19fc6254     751
6b0f5d973bf3813b31d4309c003133d7     750
406518edf1c30d599de90e2055a697fc     748
5f24028ffca75dab42968c86dab2855b     728
be833db4f16df25696356b1194a14308     687
77c9842bc14f44555a5686b80292d6e5     655
634b5cc9b2c7b128153e14ea022eddc3     646
64b0f4f73626a4607b3e3074e1e2a8cf     646
0e01e632606c230914fe73c2d2ccead3     630
307e464c2cb8ae44ab54080c3d7947f3     607
9d7051e2611cebdb758f1c7bd09360ac     567
d24347fdee199ae9395ad44484e1caf7     523
                                    ...
d9e33d34e2a119f6ae90bf4561cb9477       1
d389cd1d3029ac63c4896e076c0b723b       1
9218ce92eac85868b8e12c3ed46847d3       1
03c31bfcb42cec3002a56e193ad1c376       1
1c428782127385109b931c18fa002ad2       1
a2691498d008b4cf749f1dc270aa2969       1
829bdf503a4c299dd1eed5e91ff110b7       1
c037d5ef46fd4247d1cccd81a68cc389       1
8dc1a92428671ad271bf2fb03827cd4e       1
dbc18f4d9f9a8c3bdbafe5cc0857457e       1
df15e02045fb3530896f66ffe4abb154       1
fdf6e6e22278646c7a6afe1549f39345       1
a62e5439b2157322bda2258beafd4daf       1
26e03f5679de3320d0f211e531f90297       1
d319833e6d31b65da42f5c81257a92b8       1
0751df0ce60a2d450176659a05aa996d       1
46198c916b7b59a8ec4c03665c1d8d51       1
fbfa88765f0b7daacb8bf22ac1753a8a       1
8de6dff968e54ecc986ee38a86a3f51f       1
0a0dcc49e6fa83372dc7939693b4ef14       1
571f41856e80064dcc6a02fb8ebbf808       1
d527748f4cf14d527ff2c4b31353894a       1
093cd6dc4ff98cd32c3f415743e30796       1
31684c0dd32a25ea04ad811b3a3e903a       1
05fcfac289a221388a3ae8a6941a78b0       1
5fbd7f8e0ebfe2f72ce2c1eba638d811       1
83ee8065a0af8f2a154d60dd2e52157c       1
9622135baa45aa7583a359aac6889ce2       1
7107c96ca44d87b28cdce1a23fa4f240       1
e9d0b1118ad7a34a2d9509615979cd1e       1
Name: id, Length: 318699, dtype: int64

In [91]:
RetRate(318699,61337)

19.246059761718737

# Retention Rate: 2013 -2012

In [94]:
pd9 =  file[(file['created_at']>=datetime.date(2012,1,1)) & (file['created_at']<=datetime.date(2012,12,31))]
pd11 =  file[(file['created_at']>=datetime.date(2013,1,1)) & (file['created_at']<=datetime.date(2013,12,31))]

pd11_ret = pd11[pd11['id'].isin(pd9.id)]
pd11_ret['id'].value_counts()

# Returning Donors: 908

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

6dd7995a998f79a8c65a0d400c9a5350    853
4da7df0f928ef65486694170601d5aca      6
ed10571590258b1fb6c448c80ca16e79      6
cca23670ed0d03bddfcd9c16fa9dacb7      4
fcf96e729bf1b03dfbd8f07a3b4ee173      3
45c45882b12febaf50ea7d25c464c33c      2
f6a779b24eff92e1c60de3a770af1ca2      2
e8c8c08db7ebcad5b2e28a9143c926e8      2
8ebf7ed8e922aee141da222770577fb6      2
ea1db63aa514055a1faa005e4f37df5f      2
8d345d4ded01a6c7f3b79e9686dfe741      2
18b81dd86b925eb74666e9849c7daf06      2
8e7e264e844a1789abe3a92f470c9e30      2
0022377355fee1df711808380ecb6636      1
a55429f1f9d38496bafa31792e984937      1
58a1ba11ab4f4dbe1283e635f799639b      1
342a12d6c0ccbf4ae642f73d22a93bd3      1
2ec1193b14119b158c1d3bfd67b2940b      1
6a83ff917433af99f4c7ae0fab274229      1
26e0e6fdf9e79e36d6760d0d96fc56de      1
35135b71561a6ce81d2530c1a8e650a4      1
2f46f2a396311a0b73d7550a8c945211      1
56a1ec4318776fc6d9170aa088b79fe5      1
f9f9312786079a621fec74f35ea75606      1
e0b23e53055c0175d89ceda0d791a2e5      1
d5f65e5241b395aa76d237404ed4608f      1
f5241c39d601ab05228d352953cc76af      1
7052a3ea47c86c9c6c3e26fdb60e285c      1
c06316b294578715653cfd7c0bbe764f      1
44a4019db93bddb38a51ac392c07e9e9      1
f5c13e4c10889c2d171d955e9908859e      1
761e8c40bdc5d17f4c626bd32616c07e      1
44f5e8002149cc536599f46eb1a40139      1
Name: id, dtype: int64

In [95]:
#Total Donors in 2012
pd7['id'].value_counts()

6f74ffb17cbb2b616b1eef06bd4acd0c    7420
a0e1d358aa17745ff3d3f4e4909356f3    5312
0e345dcdef0d2a36c9bd17bf1ac3e10a    2288
237db43817f34988f9d543ca518be4ee    2257
a7dbf5caa4e885e277e7fb46fc3b795e    1711
a1929a1172ad0b3d14bc84f54018c563    1446
03fa60275eb66e873c30ecb86840df4b    1314
231415b2ecc9c2baa31f887e88fbb53c    1123
af9b7cd6efb4e03ce0b338a4407f76de    1109
6cefb47fd0aef74400d5e787f6553e4a    1014
43ce849972030459730d54013f0228f2     998
83f60be3091501e3af97b20a4eb9cf6f     991
9e174833c4d6ac353a9be7838cfa3549     957
eecc14ded80a38f692a590fe80c7b08f     857
6dd7995a998f79a8c65a0d400c9a5350     853
f37b9ff133242d08658ca2b17b3ab84c     846
7c6a03f0858c8cff5a877b25ab9394e8     791
6a35a7514005c04f8520e5d8f7657d91     753
98c4cd327c417683cd76a2ac19fc6254     751
6b0f5d973bf3813b31d4309c003133d7     750
406518edf1c30d599de90e2055a697fc     748
5f24028ffca75dab42968c86dab2855b     728
be833db4f16df25696356b1194a14308     687
77c9842bc14f44555a5686b80292d6e5     655
634b5cc9b2c7b128153e14ea022eddc3     646
64b0f4f73626a4607b3e3074e1e2a8cf     646
0e01e632606c230914fe73c2d2ccead3     630
307e464c2cb8ae44ab54080c3d7947f3     607
9d7051e2611cebdb758f1c7bd09360ac     567
d24347fdee199ae9395ad44484e1caf7     523
                                    ...
d9e33d34e2a119f6ae90bf4561cb9477       1
d389cd1d3029ac63c4896e076c0b723b       1
9218ce92eac85868b8e12c3ed46847d3       1
03c31bfcb42cec3002a56e193ad1c376       1
1c428782127385109b931c18fa002ad2       1
a2691498d008b4cf749f1dc270aa2969       1
829bdf503a4c299dd1eed5e91ff110b7       1
c037d5ef46fd4247d1cccd81a68cc389       1
8dc1a92428671ad271bf2fb03827cd4e       1
dbc18f4d9f9a8c3bdbafe5cc0857457e       1
df15e02045fb3530896f66ffe4abb154       1
fdf6e6e22278646c7a6afe1549f39345       1
a62e5439b2157322bda2258beafd4daf       1
26e03f5679de3320d0f211e531f90297       1
d319833e6d31b65da42f5c81257a92b8       1
0751df0ce60a2d450176659a05aa996d       1
46198c916b7b59a8ec4c03665c1d8d51       1
fbfa88765f0b7daacb8bf22ac1753a8a       1
8de6dff968e54ecc986ee38a86a3f51f       1
0a0dcc49e6fa83372dc7939693b4ef14       1
571f41856e80064dcc6a02fb8ebbf808       1
d527748f4cf14d527ff2c4b31353894a       1
093cd6dc4ff98cd32c3f415743e30796       1
31684c0dd32a25ea04ad811b3a3e903a       1
05fcfac289a221388a3ae8a6941a78b0       1
5fbd7f8e0ebfe2f72ce2c1eba638d811       1
83ee8065a0af8f2a154d60dd2e52157c       1
9622135baa45aa7583a359aac6889ce2       1
7107c96ca44d87b28cdce1a23fa4f240       1
e9d0b1118ad7a34a2d9509615979cd1e       1
Name: id, Length: 318699, dtype: int64

In [96]:
RetRate(318699, 908)

0.28490833043090813

# Retention Rate 2018 - 2017

In [108]:
pd13 =  file[(file['created_at']>=datetime.date(2017,1,1)) & (file['created_at']<=datetime.date(2017,12,31))]
pd14 =  file[(file['created_at']>=datetime.date(2018,1,1)) & (file['created_at']<=datetime.date(2018,12,31))]

pd14_ret = pd14[pd14['id'].isin(pd13.id)]
pd14_ret['id'].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

24ecca49933c30a0beb83090591720c0    1839
0cd96e83a645971f6deb4559262b7688    1713
39df9399f5384334a42905bcf0acdcbf    1202
237db43817f34988f9d543ca518be4ee    1077
0d9c155b27c25fa0dbac617f9507226d     781
22f51fc8e5750e45e7a3da489eacfe40     715
d006be7223c048ae8b2bdedd7dd2b4db     707
3ba8a29e3dd72043f9738c0895733834     587
6a35a7514005c04f8520e5d8f7657d91     577
4942150e351df37d02b1b1008032d795     564
2a53c9f915f6b31a25e174f276f32ae8     501
5b5dce6a14c506439466000b50e8d480     482
de8b8ed34d1800ca93f7ef480857d872     479
f759b44e25b9a2602eed665d0eefc604     462
85d28056e20c78af4a1b16dc63394caa     435
19f24640d9da49f6f8b4c9938c049591     430
b51c76411b51751f45527c63c69ead9e     413
ba8071c3de667528d853b3544c1a9179     408
86d57a6264726b2a94c5b9663f46330c     407
66c30e1da1934d7cfe810ba79f6e04c1     406
4a66bd08b25a2ec7e827db68f766a136     398
fb961cd43218b42e06852a1e3bf82286     385
a299db9679f7746a805fbc300362191d     372
e7692ca3a0fe35653c173de80adfc880     362
de439434d990e693902fcb68d62d5099     344
e6d4108eb74530a3d890845626ca890d     342
6dde5d1322e0d11f0b14b094c68d21e2     341
103a0723c0fbb87555cb333c75233d99     337
75e09805b663bbe4b80b40034c192b4a     327
45fc01dcee39b72977fbeef3e03c26c3     324
                                    ...
5d1d1ee7b2a9ef061e077574dcc3c4ff       1
4ddafa6833c509d132a7eb410934211d       1
d38e53d7075c34be9ed79e1b5b0ba82c       1
36bbf07821fdb05f91bceb67cc1cb122       1
3b9a4e5ed7ce584b15d0df8bcaec4e2f       1
2025df4fd1af85f96bffa6f518d8d041       1
7230c0f6aa7f6dcfaaf87eb535d03018       1
5c6924fa9c17566cf1d9040c24df7c75       1
e318695950123b5dff36d1987ce19c19       1
3d2b21b374eb19cde78f4d5a3cdfe2df       1
024f4889d7b6c917e2db802a422a4b6d       1
88e0627da740d56ed34e823e7b3be358       1
628d18031b42bf5bc2d6db3fe9d7f9a1       1
550bcb0c5da95a7db13ff6915a66c75b       1
3782a972e1f44c102358fed41d09c7fb       1
2525035cd1e51ea92915a4cabe6e0bf5       1
38a8a35697c57de4884de176608e29a1       1
99dc4b8e9c14bdd73b9dbf195c7c0f49       1
a54056495a3f4dbb3f82e53c97309e12       1
1a483644f4716909365c3ce8db6f8314       1
49448243479009894cc2b2680e439be2       1
b58e94a48a780179bd13521d741c9c31       1
3f529994a17a719704a623706526834f       1
22e5d9796ea5296e3fb91fdd7ca6411a       1
785a24e60f715bfde1d832253091e61e       1
52754463223ab07cf8eb3fbcf68445dc       1
03ed70ba35e560049b8c3cbabb176134       1
b52daa19864b1edb6bc4aed5020a14f2       1
0577e0203279d72def8f338e75e8e65d       1
9f3452c20bc352e8ba4ee0414daaf9a3       1
Name: id, Length: 61105, dtype: int64

In [109]:
#Total Donors in 2017
pd13['id'].value_counts()

39df9399f5384334a42905bcf0acdcbf    13746
237db43817f34988f9d543ca518be4ee     3932
24ecca49933c30a0beb83090591720c0     3821
0cd96e83a645971f6deb4559262b7688     2475
de8b8ed34d1800ca93f7ef480857d872     2150
4942150e351df37d02b1b1008032d795     1775
0d9c155b27c25fa0dbac617f9507226d     1574
a299db9679f7746a805fbc300362191d     1455
a949a2ed73b13adb7a63fbc8ea90f6dc     1435
f4e59466422bf084792071a849284771     1343
6a35a7514005c04f8520e5d8f7657d91     1339
f9dd79ea006fee7bb4a5cc8473d8656c     1272
19f24640d9da49f6f8b4c9938c049591     1269
d006be7223c048ae8b2bdedd7dd2b4db     1246
fb961cd43218b42e06852a1e3bf82286     1202
22f51fc8e5750e45e7a3da489eacfe40     1137
4416745560343f14a74dedcda4ec03b0     1114
66c30e1da1934d7cfe810ba79f6e04c1      968
3ba8a29e3dd72043f9738c0895733834      966
b51c76411b51751f45527c63c69ead9e      959
1be8ff2501f21dbe85a2fc87afb641e8      875
544eea257f2154d79dab2f7119f11af2      858
c376c98b0cdb746cf025bb21ee810376      845
a747520b8d27d36d2f929f2b12e243ab      844
86d57a6264726b2a94c5b9663f46330c      827
ebf4949aa3d2a10c7518ce1b348d9f0f      819
b02e6d6a11f2fecbfead6fdbfb6664ff      793
560970c7a82523f66d4977d02db20dcc      775
75e09805b663bbe4b80b40034c192b4a      771
2dd5ef5f3acc58a4bc71871e53263d62      730
                                    ...
e3d470cc01f3a4191a624db0573d60e4        1
00a39f123badbe41fc0a99f5338bbdc1        1
cf790d5f365e5c9d063cfcf4accafab5        1
ac391569b0979e5892928d2aae2c7860        1
22d265267da2ba387c3f8e290ae3499f        1
e37d78eb199de549a04e4d422013a597        1
bb380c8aac0ba667b83d01a2b5185e03        1
59c10bf9ad93ce3809b61d3ab0fe1105        1
25c62231e9bfc477b53d375d547149b1        1
a0b699ed03ef38bcc331a12e310429a7        1
f5639cd333dea8a2182d4e135a2d561e        1
7ab442deb4da59cc86a7997320b89bf8        1
428dd9d0847200cc6a646dbd7973b2b5        1
848585a9677a7fec08fb3baacc3d3fd8        1
64f12f92cc76eb0f2bf3948f0e48439b        1
29645fdbd8a11d65f7e76a77f102db60        1
f336edb69fd31a11a52d624346850d9a        1
91218509acf7f511bad8c2dcaf8d7934        1
568c05b52d5dd021d38a0e3871a17200        1
b994f52b1fbb83fedf4d2e7151ece40f        1
2f1ae1084d3c1e536a06157bb2308fda        1
1be5313b8c6a5eafaa7b71f5901eb64b        1
e0fe5afe943333f1da4b7e631fd524c7        1
57b2e0d266a90d4e14e8b69b7c09424d        1
184eb0e198161813470a1422a046d9e2        1
49cfbc4db69b1cdcd90e16dc70dc2dc8        1
2e94aa2765e1363fe903a8f0e982d1da        1
eba6ca34c9a787e0a770bd91bd90a918        1
f2da0f0830184f6579ca77b7b74298cf        1
0e58fddfe4c8526becaafa787502b5aa        1
Name: id, Length: 573042, dtype: int64

In [110]:
RetRate( 573042,  61105)

10.663267264877618

In [114]:
high = file[file.amount >= 15000]
high

                                       id          created_at    amount
221790   0c796f4db2c7adc93db6969153616cdc 2018-02-24 12:34:33  17777.50
620628   2144d56b1947ebb26a19e7f1d07c970a 2015-08-25 10:40:09  19588.38
854552   2d5f989570f391c688b0823967f02689 2016-02-25 10:50:16  16159.74
854553   2d5f989570f391c688b0823967f02689 2016-03-08 14:49:53  16659.74
947603   328eddaccd2f15ab18441d39102a2680 2017-01-04 00:00:32  15000.00
977636   34693cc3c55e19494f4c69fe335eca17 2013-05-08 15:59:27  17644.85
1326278  46bef03dfe2742079289cd67a26a8d27 2013-07-26 21:09:13  26369.03
1686336  5aae045f65ce626b6c56b1d1f974fbf1 2013-08-22 22:05:05  21299.95
2006897  6c338eb8b8d6fde2f0d4d3b5277ed4c9 2015-07-16 13:13:59  16981.78
2226870  7779c0b3af936b7f8f6953f06882c094 2017-11-28 20:48:08  15000.00
2226872  7779c0b3af936b7f8f6953f06882c094 2018-01-25 06:41:08  20000.00
2657224  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-25 14:25:57  60000.00
2849161  9a79dcb3a980763adeaa274156d5aa99 2013-10-17 11:31:09  21295.72
2929360  9ed16d0f5679c71875f7f82abf04c97c 2013-09-02 22:58:38  19269.51
3350593  b51a1b79ce091021e909fde33c5e5810 2017-11-15 13:18:34  25000.00
3408107  b802c941986ae91fdf0beabb1e35e1a9 2017-03-02 16:18:46  31856.60
3607308  c359757201cde60df7c003a1b365cd5e 2015-07-15 11:42:15  17400.00
3916024  d4e6cb5bafcf403935a56a5e562d6dce 2012-12-17 19:18:40  15600.00
4427014  f1d16f7117f774dcabd2157858081b27 2014-09-29 09:08:40  17647.32

In [102]:
high = file[file.id == '8f70fc7370842e0709cd9af3d29b4b0b']
high

                                       id          created_at    amount
2657211  8f70fc7370842e0709cd9af3d29b4b0b 2013-01-03 20:13:20    314.81
2657212  8f70fc7370842e0709cd9af3d29b4b0b 2013-01-05 12:10:51    173.67
2657213  8f70fc7370842e0709cd9af3d29b4b0b 2013-01-09 06:13:42     69.45
2657214  8f70fc7370842e0709cd9af3d29b4b0b 2013-01-10 20:36:51    185.96
2657215  8f70fc7370842e0709cd9af3d29b4b0b 2013-01-25 21:39:18    921.51
2657216  8f70fc7370842e0709cd9af3d29b4b0b 2013-02-02 16:12:11    404.53
2657217  8f70fc7370842e0709cd9af3d29b4b0b 2013-02-19 15:47:14    485.79
2657218  8f70fc7370842e0709cd9af3d29b4b0b 2013-03-01 19:25:25    639.59
2657219  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-01 16:25:54   1499.45
2657220  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-09 21:33:03    268.41
2657221  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-10 19:21:13    145.35
2657222  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-10 19:21:14    181.41
2657223  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-10 19:21:15    565.85
2657224  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-25 14:25:57  60000.00
2657225  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-29 00:59:49    473.46
2657226  8f70fc7370842e0709cd9af3d29b4b0b 2013-04-30 13:34:16   4728.69
2657227  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-05 13:40:05    197.21
2657228  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-08 12:30:34   5000.00
2657229  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-10 21:24:38   1279.47
2657230  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-12 02:56:13    507.58
2657231  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-12 19:39:53    223.59
2657232  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-12 19:39:53    930.45
2657233  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-15 00:45:25    559.62
2657234  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-18 09:25:25    997.56
2657235  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-18 09:30:44    156.11
2657236  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-18 09:30:44    193.64
2657237  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-20 07:39:17   1000.00
2657238  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-24 15:30:05    259.49
2657239  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-27 18:13:32    858.72
2657240  8f70fc7370842e0709cd9af3d29b4b0b 2013-05-30 15:30:02    374.20
...                                   ...                 ...       ...
2657404  8f70fc7370842e0709cd9af3d29b4b0b 2015-03-07 18:16:42   1222.13
2657405  8f70fc7370842e0709cd9af3d29b4b0b 2015-03-07 18:16:42    629.09
2657406  8f70fc7370842e0709cd9af3d29b4b0b 2015-03-20 23:03:02    866.26
2657407  8f70fc7370842e0709cd9af3d29b4b0b 2015-03-21 01:55:14    304.62
2657408  8f70fc7370842e0709cd9af3d29b4b0b 2015-03-29 17:50:31    924.08
2657409  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:28    287.80
2657410  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:28    323.04
2657411  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:28    437.08
2657412  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:29    280.59
2657413  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:29    291.65
2657414  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-15 23:42:29    403.67
2657415  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-17 09:27:04    417.94
2657416  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-17 09:27:05   1122.62
2657417  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-17 09:27:05    252.72
2657418  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-17 19:55:13   1025.28
2657419  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-17 19:55:13   2179.45
2657420  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-18 23:14:36   1866.72
2657421  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-21 13:43:33    985.25
2657422  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-21 13:52:04   1776.46
2657423  8f70fc7370842e0709cd9af3d29b4b0b 2015-06-21 13:52:05    988.35
2657424  8f70fc7370842e0709cd9af3d29b4b0b 2015-07-20 04:17:04    500.00
2657425  8f70fc7370842e0709cd9af3d29b4b0b 2015-08-17 14:32:37    464.32
2657426  8f70fc7370842e0709cd9af3d29b4b0b 2015-08-17 14:32:38    129.97
2657427  8f70fc7370842e0709cd9af3d29b4b0b 2015-08-17 15:47:29    217.69
2657428  8f70fc7370842e0709cd9af3d29b4b0b 2015-08-17 15:47:29    365.44
2657429  8f70fc7370842e0709cd9af3d29b4b0b 2015-10-27 00:42:52    306.12
2657430  8f70fc7370842e0709cd9af3d29b4b0b 2015-10-27 00:42:52     78.98
2657431  8f70fc7370842e0709cd9af3d29b4b0b 2016-01-23 21:40:02    250.00
2657432  8f70fc7370842e0709cd9af3d29b4b0b 2016-03-11 02:55:56     30.94
2657433  8f70fc7370842e0709cd9af3d29b4b0b 2016-03-11 02:59:08   1004.32

[223 rows x 3 columns]

In [103]:
high.to_csv('./Data/Highballer.csv')

In [104]:
file.describe()

             amount
count  4.687884e+06
mean   6.066879e+01
std    1.668996e+02
min    1.000000e-02
25%    1.482000e+01
50%    2.500000e+01
75%    5.000000e+01
max    6.000000e+04

In [105]:
file['amount'].describe()

count    4.687884e+06
mean     6.066879e+01
std      1.668996e+02
min      1.000000e-02
25%      1.482000e+01
50%      2.500000e+01
75%      5.000000e+01
max      6.000000e+04
Name: amount, dtype: float64

# Average Donor Amount

In [107]:
file['amount'].mean()

60.66878857923414

In [118]:
high = file[file.id == '46bef03dfe2742079289cd67a26a8d27']
print(high['amount'].sum())

66103.38

In [119]:
high = file[file.id == 'b51a1b79ce091021e909fde33c5e5810']
print(high['amount'].sum())

25000.0

In [120]:
high = file[file.id == '5aae045f65ce626b6c56b1d1f974fbf1']
print(high['amount'].sum())

23800.000000000004

In [121]:
high = file[file.id == '9a79dcb3a980763adeaa274156d5aa99']
print(high['amount'].sum())

21295.72

In [127]:
high = file[file.id == '7779c0b3af936b7f8f6953f06882c094']
print(high['amount'].sum())

44004.09

In [125]:
high = file[file.id == '2144d56b1947ebb26a19e7f1d07c970a']
print(high['amount'].sum())

1243529.69

In [ ]:
high = file[file.id == ' 9ed16d0f5679c71875f7f82abf04c97c
  ']
print(high['amount'].sum())

In [ ]:
high = file[file.id == ' 0c796f4db2c7adc93db6969153616cdc
  ']
print(high['amount'].sum())

In [128]:
high = file[file.id == '8f70fc7370842e0709cd9af3d29b4b0b']
print(high['amount'].sum())

220279.59999999998

In [129]:
high = file[file.id == '9ed16d0f5679c71875f7f82abf04c97c']
print(high['amount'].sum())

30999.84

In [130]:
high = file[file.id == '0c796f4db2c7adc93db6969153616cdc']
print(high['amount'].sum())

61916.259999999995

In [131]:
high = file[file.id == 'f1d16f7117f774dcabd2157858081b27']
print(high['amount'].sum())

19495.31

In [132]:
high = file[file.id == '34693cc3c55e19494f4c69fe335eca17']
print(high['amount'].sum())

17778.51

In [133]:
high = file[file.id == 'c359757201cde60df7c003a1b365cd5e']
print(high['amount'].sum())

29838.56

In [134]:
high = file[file.id == '6c338eb8b8d6fde2f0d4d3b5277ed4c9']
print(high['amount'].sum())

26981.78

In [136]:
high = file[file.id == '2d5f989570f391c688b0823967f02689']
print(high['amount'].sum())

100383.2

In [137]:
high = file[file.id == '2d5f989570f391c688b0823967f02689']
print(high['amount'].sum())

100383.2

In [138]:
high = file[file.id == 'd4e6cb5bafcf403935a56a5e562d6dce']
print(high['amount'].sum())

15600.0

In [139]:
high = file[file.id == '328eddaccd2f15ab18441d39102a2680']
print(high['amount'].sum())

16507.3

In [150]:
high = file[file.id == '2144d56b1947ebb26a19e7f1d07c970a']
print(high.id.value_counts())

2144d56b1947ebb26a19e7f1d07c970a    2152
Name: id, dtype: int64